---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
  Esta página está creada por Nicolás Ruiz como trabajo de tic.
  </p>
</BaseLayout>