---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Animales del entorno del colegio</h1>
  <p></p>
  <div class="blog-post">
    <div class="title"></div>
    <div class="content">
      <p>Este blog diseñado y hecho en clase de tic, esta hecho para informar de las especies del entorno del colegio</p>
      <p> Por esta zona podemos encontrarnos gran cantidad de aves, entre las que se encuentran ánade real, pato cuchara, porrón común, somormujo, gaviota, zampullín chico, aguilucho lagunero, estos están presentes en las zonas húmedas, como pueden ser las lagunas.</p>
      <p>En la Sierra y en la zona norte de Madrid es posible ver jabalíes o ciervos.En general, para ver animales hay que irse al campo y estar en contacto con la naturaleza, a muy pocos minutos del centro de la ciudad. También es frecuente encontrarse por los montes madrileños conejos, liebres, ratones, comadrejas, topillos o murciélagos.</p>
      <p>
      En esta zona también hay reptiles, así como muchos tipos de serpientes: culebra de collar, culebra bastarda, culebrilla ciega … También galápagos y muchos tipos de lagartijas. También nos encontramos con anfibios como la rana común, la rana de san antonio, el sapo común, el sapo corredor o el sapo de espuela. </p>
    </div>
  </div>
</BaseLayout>