---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>De que va esta web</h1>
  <p>El contenido de esta pagina web son los animales del entorno de donde esta ubicado nuestra escuela. </p>
</BaseLayout>